/* colors */
$color-white: #ffffff;
$color-darker: #3d3d3d;
$color-light-dark: #888;
$color-blue: #2196F3;

$color-black-87: rgba(0, 0, 0, .87);
$color-black-54: rgba(0, 0, 0, .54);
$color-black-37: rgba(0, 0, 0, .37);
$color-black-12: rgba(0, 0, 0, .12);

$small-radius: 3px;
$app-radius: 5px;

/* general app sizings */
$search-height: 64px;
$footer-height: 32px;
